body {
  font-family: sans-serif;
  margin: 0;
}

.modal {
  position: absolute;
  background-color: #0009;
  width: 100vw;
  height: 100vh;
}
.modal__content {
  background-color: #fff;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  padding: 10px 20px;
  position: relative;
}

.modal__titulo {
  text-align: center;
  margin: 10px;
}

.modal__closeBotton {
  background-color: red;
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1px 20px;
}
