body {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 30px;
}
p,
h4 {
  margin: 0;
}

/* header */
header {
  min-width: 400px;
  max-width: 500px;
}
.menu {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.menu-bar {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding-left: 30px;
}
.logo > div {
  display: block;
}

.logo > div > img {
  width: 30px;
  height: 30px;
}
.logo div:active {
  background-color: #0002;
}

nav {
  display: none;
  position: absolute;
  top: 60px;
  left: 0px;
  background-color: #fcf7f7;
  border-radius: 10px;
  z-index: 4;
}

nav ul {
  padding: 0;
  margin: 0;
  width: 220px;
  text-align: center;
}
.item {
  list-style: none;
  padding: 10px;
  margin: 5px 0px;
}
.item:active {
  background-color: #0002;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.perfil div:nth-child(2) > img {
  width: 24px;
  height: 24px;
  padding-right: 30px;
}
/* header */
/* main */
main {
  min-width: 400px;
  max-width: 500px;
}
.img-producto {
  position: relative;
}
.btn {
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  font-size: 30px;
  border: none;
  width: 50px;
  height: 50px;
}
.btn:active {
  opacity: 0.7;
}
.btn-izquierda {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.btn-derecha {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.galeria {
  height: 400px;
  width: 100%;
  background-size: contain;
}
.galeria-foto {
  height: 100%;
  width: 100%;
}
/* descripcion producto */
.descripcion-producto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 0 20px;
}
.descripcion-producto h4 {
  color: #000c;
}
.descripcion-producto p {
  color: #0007;
}
/* descripcion producto */

/* precio venta del producto */
.precio-venta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  padding-bottom: 50px;
  margin-top: 20px;
}
.precio-producto {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
.precio-producto b {
  margin-left: 20px;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 12px;
}
#precio-anterior {
  font-size: 18px;
  text-decoration: line-through;
  opacity: 0.5;
}

.stock-producto {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  background-color: #fcf7f7;
  padding: 10px;
  border-radius: 20px;
}
.btn-stock {
  padding: 0 15px;
  font-size: 30px;
  border: none;
  background-color: transparent;
}
.btn-stock:active {
  background-color: #0005;
}

.comprar-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa88e;
  border: none;
  box-shadow: 0 4px 10px #ffa88e;
  gap: 30px;
  height: 50px;
  width: 300px;
  margin: auto;
  font-size: 20px;
}
.comprar-producto:active {
  opacity: 0.7;
}
/* precio venta del producto */
/* main */

/* clases que usare en js */
.mostrar-nav {
  display: block;
}

.hidden-foto {
  display: none;
}
