* {
  box-sizing: border-box;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

h2 {
  margin: 0;
}
b {
  color: green;
}

.item {
  border: 1px solid #000;
  min-width: 250px;
  height: 350px;
  padding: 10px;
}
.item:hover {
  box-shadow: 0 0 15px green;
}
