body {
  margin: 0;
  font-family: sans-serif;
  background-color: #e2b9a7;
}

/*HEADER*/
/*navbar*/
.navbar {
  display: flex;
  background-color: #e2b9a7;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navBar__item {
  display: flex;
  align-items: center;
  height: 100%;
}
.navBar__titulo {
}
.navbar--nombre {
  padding-left: 10px;
  margin: 0;
}

.navBar__li {
  list-style: none;
  height: 100%;
}
.navBar__li:hover {
  background-color: #c592ad;
}
.navBar__link {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  color: black;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

h1 {
  margin: 0;
}
/*navbar*/
/*fondo*/
.fondo {
  background-image: url("fondo.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}
.fondo__presentacion {
  color: white;
  width: 100%;
  height: 100%;
  background-color: #0009;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fondo__texto {
  width: 700px;
  text-align: center;
}
/*fondo*/
/*HEADER*/
/*MAIN*/
main {
  display: flex;
}
.main__section {
  padding: 0 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.section--item {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 0 10px;
  min-width: 200px;
}
.section--item:not(.excluir) {
  max-width: 500px;
}

.main__aside {
  padding: 0 10px;
  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 20px;
  min-width: 200px;
}
.aside__review {
  color: #502d59;
  font-size: 20px;
}
h3 {
  margin: 0;
  padding-top: 10px;
}
/*MAIN*/
/*FOOTER*/
footer {
  background-color: #502d59;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  margin-top: 20px;
}
/*FOOTER*/
