* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.flex-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 700px;
  border: 2px solid #000;
  border-radius: 16px;
}

nav {
  display: flex;
}

nav ul {
  font-size: 18px;
  display: flex;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  border-bottom: 1px solid transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li:first-child {
  border-radius: 16px 0 0 0;
}
nav li:last-child {
  border-radius: 0 16px 0 0;
}

nav li:hover {
  opacity: 0.5;
  cursor: pointer;
  border-bottom: 1px solid #000;
}
nav a {
  text-decoration: none;
  color: #000;
}

.tab {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 16px 16px;
  padding: 10px;
}
.tab div {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

/*Se empeiza contando del 2, por que el 1 es el nav
SERA UTIL PARA EL ARCHIVO JS*/
/* .container .tab:nth-child(2) {
  display: none;
}
 */

.tab-presionado {
  background-color: #0001;
  opacity: 0.5;
  border-bottom: 1px solid #000;
}

.container .tab:nth-child(2) {
  display: block;
}
.container .tab:nth-child(3) {
  display: none;
}
.container .tab:nth-child(4) {
  display: none;
}
.container .tab:nth-child(5) {
  display: none;
}
